@page "/newdraft"
@inject Radzen.DialogService dialogService

<h1>New Draft</h1>

<h3>Draft ID: @draftID</h3>
<p>Use default owners? <RadzenSwitch @bind-Value=@draftOwnerDefaults Change=@(args => OnChangeSwitch(args, "draftOwnerDefaults")) /></p>
<p>Use default positions? <RadzenSwitch @bind-Value=@draftPositionDefaults Change=@(args => OnChangeSwitch(args, "boolPositionDefaults")) /></p>
<p>Use default players? <RadzenSwitch @bind-Value=@draftPlayerDefaults Change=@(args => OnChangeSwitch(args, "boolPlayerDefaults")) /></p>
<p hidden="@draftOwnerDefaults"><h4>Number of Owners</h4>
<RadzenNumeric TValue="int" Change=@(args => OnChange(args, "intOwners")) /></p>
<h3>Auction Budget</h3>    
<RadzenNumeric TValue="int" Value="400" Change=@(args => OnChange(args, "intBudget")) />
<p>Current count: @playerCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => dialogService.Close(true))" Text="OK" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    int value;
    bool draftOwnerDefaults = true;
    bool draftPositionDefaults = true;
    bool draftPlayerDefaults = true;

    private int playerCount = 0;
    
    [Parameter] public int draftID { get; set; }

    private void IncrementCount()
    {
        playerCount++;
    }

    void OnChange(dynamic value, string name)
    {
        System.Diagnostics.Debug.WriteLine($"{name} changed to {value}");
    }
    
    void OnChangeSwitch(bool? draftDefaults, string name)
    {
        System.Diagnostics.Debug.WriteLine($"{name} changed to {draftOwnerDefaults.ToString()}");
    }

    private void ShowOwnerCreate()
    {
        draftOwnerDefaults =   !draftOwnerDefaults;
    }  
}